body,html{
    margin: 0;
    height: 100%;
}

h2{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#produit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
