body,html{
    margin: 0;
    height: 100%;
}

#ban{
    width: 100%;
}



#slide>ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;

}

h2{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

#produit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    background-color: cadetblue;
    color: black;
    cursor: pointer;
    position: relative;
}