body,html {
    margin: 0;
    height: 100%;
}

header {
    height:10%;
    width: 100%;
    background-color: darkgray;
    text-justify: center;
}
nav {
   display: flex;
   flex-direction: row;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-grow: 1;
    padding-right:15px;
    padding-top: 10px;
}

a {
    text-decoration: none;
}
.menu{
    background-color: rgb(139, 146, 139);
    color:white;
    width: fit-content;
    text-align: center;
    
}
.MK{
    border: 1px solid black;
}

.menu>.contenu{
    display: none;
}
 .menu:hover>.contenu {
    display: block;
    
 }


 .MK:hover {
    background-color: aquamarine;
}


.cards {
    align-content: center;
}

#marque {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
}

.AA {
    height: 154px;
    width: 154px;
    border-radius: 20px;
    justify-content: space-around;
    text-align: center;
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
h4 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.google {
    padding-left:20px;
}
.so {
    /* justify-content: flex-end;
    display: flex;
    flex-direction: row; */
    
}
footer {
    display: flex;
    /* /* flex-direction: row;
    align-items: center; */
    background-color: darkgray;
    height: 7%;
    font-size: large;
    justify-content: space-around;

}

.copyright{
    /* display: flex; */
}


/*Exemple*/
